div([hidden]="!loading") Loading...
form((submit)="login()", [hidden]="loading")
  .imgcontainer
    image-svg#logo(src="../assets/go1-logo.svg")
    #signin-text Sign In to GO1

  .container
    input#email.form-control(type="email", name="email", [(ngModel)]="user.username", placeholder="E-mail")
    input#password.form-control(type="password", name="password", [(ngModel)]="user.password", placeholder="Password")
    button#login-btn Log In
    div.hr
      hr
      .or-text Or

    button#register-btn.register-btn(type="button", (click)="register()") Register
    .link-text#forgot
      a(href="/") Forgot password?



