.add-to-portal.animated
  go-header([title]="'Add to Portal'")

  .related-to
    .link-preview-frame
      .is-loading([hidden]="!isLoading")
        .col Loading Preview...
      .loading-completed([hidden]="isLoading")
        .site-info-container
          img.favicon([src]="linkPreview?.favicon")
          .site-domain.grey5 {{ linkPreview?.hostname }}
        .site-detail-container
          h5
            | {{ linkPreview && linkPreview.title }}

  .note-detail-section
    .form-group(*ngIf="learningItem")
      div.grey5.related-to-title Add Tags:

      tag-input([(ngModel)]="learningItem.tags", placeholder="Add tags")

    .actions-area
      .row
        .col-6
          button.btn.btn-primary.btn-block#markAsComplete((click)="onMarkAsCompleteBtnClicked()", [disabled]="isLoading").
            #[i.fa.fa-check] Mark as Complete

        .col-6
          button.btn.btn-primary.btn-block#addToPortal((click)="shareButtonClicked()", [disabled]="isLoading").
            #[i.fa.fa-share] Share

        //.col-6
        //  button.btn.btn-primary.btn-block#saveForLater((click)="saveForLaterClicked()").
        //    #[i.fa.fa-calendar] Save for later

      //.row.justify-content-center.m-t-10
      //  .col-6
      //    button.btn.btn-primary.btn-block#addToPortal((click)="shareButtonClicked()").
      //      #[i.fa.fa-share] Share
