.add-to-portal.animated
  go-header([title]="'Add to Portal'")

  .related-to
    .link-preview-frame
      .is-loading([hidden]="!isLoading")
        .col Loading Preview...
      .loading-completed([hidden]="isLoading")
        .site-info-container
          img.favicon([src]="linkPreview?.favicon")
          .site-domain.grey5 {{ linkPreview?.hostname }}
        .site-detail-container
          h5
            | {{ linkPreview && linkPreview.title | ellipsis:60 }}

  .note-detail-section
    .form-group
      div.grey5 Add Tags:

      tag-input([(ngModel)]="data.tags", autofocus, placeholder="Add tags")

    .actions-area
      .row
        .col-6
          button.btn.btn-primary.btn-block#doneBtn((click)="onDoneBtnClicked()", [disabled]="isLoading", title="Add this page").
            Done

        .col-6
          button.btn.btn-default.btn-block#cancelBtn((click)="onCancelBtnClicked()", [disabled]="isLoading", title="Close this page without further action").
            Cancel
