.add-to-portal.animated
  go-header([title]="'Add to Portal'")

  .related-to
    .link-preview-frame
      .is-loading([hidden]="!isLoading")
        .col Loading Preview...
      .loading-completed([hidden]="isLoading")
        .site-info-container
          img.favicon([src]="linkPreview?.favicon")
          .site-domain.grey5 {{ linkPreview?.hostname }}
        .site-detail-container
          h5
            | {{ linkPreview && linkPreview.title | ellipsis:60 }}

  .note-detail-section
    .form-group(*ngIf="learningItem") This page has been successfully added to {{ currentPortal?.title }} as new Learning Item. Feel free to add some tags below, Share to other user or Mark this as complete using the buttons below.
    .form-group(*ngIf="learningItem")
      div.grey5 Add Tags:

      tag-input([(ngModel)]="learningItem.tags", autofocus, placeholder="Add tags")

    .actions-area
      .row
        .col-6
          button.btn.btn-primary.btn-block#doneBtn((click)="onDoneBtnClicked()", [disabled]="isLoading", title="Close this page without further action").
            #[i.fa.fa-check] Done

        .col-6
          button.btn.btn-primary.btn-block#shareBtn((click)="shareButtonClicked()", [disabled]="isLoading", title="Share this page other user").
            #[i.fa.fa-share] Share

      .row.m-t-10
        .col-6
          button.btn.btn-primary.btn-block#markAsComplete((click)="onMarkAsCompleteBtnClicked()", [disabled]="isLoading", title="Mark this page as completed").
            #[i.fa.fa-check] Mark as Complete

        .col-6
          //button.btn.btn-primary.btn-block#saveForLater((click)="saveForLaterClicked()", [disabled]="isLoading", title="Schedule this page for revisit later").
          //  #[i.fa.fa-calender] Save for Later
