{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "syntax-async-functions",
      "transform-regenerator",
      "transform-es2015-classes",
      "transform-es3-member-expression-literals",
      "transform-es3-property-literals",
      {
        "loose": true
      }
    ]
  ]
}
