modal-dialog.animated.fade#alertModal(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header#modal-header
        h6.modal-title#modal-title
      .modal-body
        .modal-body-content
      .modal-footer
        button.btn#dismiss-btn(type="button")

