.discussion-detail-page
  go-header([title]="'Notes &amp; Discussions'")
  .no-content([hidden]="!loading")
    loading-indicator

  .discussion-content([hidden]="loading")
    //.form-group
    //  input.form-control

    .most-recent
      .discussion-item(*ngIf="discussionItem")
        user-profile(*ngIf="discussionItem?.user_id", [userId]="discussionItem?.user_id" externalText="{{ discussionItem?.created | amTimeAgo }}")
        .discussion-detail
          div.message([innerHtml]="discussionItem?.message")
