.no-content([hidden]="!loading")
  loading-indicator

form((submit)="requestNewPassword()", [hidden]="loading")
  .back-to-login
    a.btn.btn-no-border.btn-no-padding.go-back-btn([routerLink]="['/']" role="button") ← Return to login

  .imgcontainer
    image-svg#logo(src="../assets/go1-logo.svg")

  .container
    h4.text-align-left Instruction has been sent!
    h5.sub-header.text-align-left.grey6.m-t-25 Please check your email as below and follow our instruction to change your password

    .group.m-t-25
      label Your Email
      input#email.form-control(type="email", name="email", [(ngModel)]="email")
      i.input-state.input-state-success.fa.fa-check-circle

    .group.m-t-25
      a.btn.btn-no-border.btn-no-padding.go-back-btn([routerLink]="['/']" role="button") ← Return to login



