@import "variables";

.add-to-portal {
  background: #fff;

  .actions-area {
    margin-top: 15px;
  }

  .related-to {
    background: $chrome-ext-background;
    padding: 20px;
    .related-to-title {
      margin-bottom: 15px;
      font-weight: lighter;
    }
  }

  .note-detail-section {
    background: #fff;

    .text-editor {
      border: 1px solid #cddbe2;
      height: 150px;
      padding: 10px;
    }
  }

  .add-tags {
    h6 {
      text-transform: initial;
    }
  }

  .actions-area {
    padding: 20px;

    .btn-block {
      line-height: 1;
      height: 42px;
    }
  }
}
