@import "variables";

.add-to-portal {
  background: $go1grey1;

  .actions-area {
    margin-top: 15px;
  }

  .related-to {
    background: $chrome-ext-background;
    padding: 20px 20px 0px;
    .related-to-title {
      margin-bottom: 15px;
      font-weight: lighter;
    }
  }

  .add-tags {
    h6 {
      text-transform: initial;
    }
  }

  .actions-area {
    padding: 20px;

    .btn-block {
      line-height: 1;
      height: 42px;
    }
  }

  .link-preview-frame {
      border-radius: 2%;
   }

}
