@import "variables";

.add-to-portal-scheduled {
  background: $chrome-ext-background;

  .related-to {
    background: $chrome-ext-background;
    padding: 20px;
    .related-to-title {
      margin-bottom: 15px;
      font-weight: lighter;
    }
  }

  .schedule-section, .actions-area {
    margin: 20px;
  }
}
