@import "open-sans-font/sass/open-sans_main";
@import "../../node_modules/bootstrap/scss/variables";
@import "variables";

*:not(.fa) {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.fa {
  font-size: 18px;
}

body {
  background: $go1bodyBackground;
}

header.extension-header {
  padding: 0;
  background: none;
  height: initial;
  margin: 0;

  .go-back-btn {
    padding: 0;
  }
}

.icon.icon-left-arrow {
  display: inline-block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABl0lEQVR4Xu3aMU4EMQyF4X8PBFfgEFR0VFAh0VDRUyEh0dIhUXEKzgD3AaWIhFYz0ewktuzY0660k/fFTmZncyD4dQienwTICggukC0QvAByEcwWyBYILpAtELwAVHeBC+DLGrhWC9wDL8AT8GgJQQOghq+5H4BnKwjSAMfha+4z4McCgiTAWvgb4M1C+DIGKQAX4aUA3ISXAHAVfjSAu/AjAVyGHwWwFP4XuLW02q/tOr27wFr4a+DdylbXGkcPgPvwPS0wRfi9ANOE3wMwVfhTAaYLfwrAHfDqYVVfGGNzod+yC1wCn4I/nKRduwGugI/IAGWGQrdALdHQi+C0CFsWweNFaqpK2ANQQKZB2AswDUIPwBQIvQAthBAvRFq7Q/nM1H8AS4+cIyrANcJIgLV2MF0JowHcIUgAuEKQAnCDIAnQQjgHvqVfBGz5fmmAJYRyQqScFDFxaQD8Rwh5RKbOdOhDUibKXfpJ0GzI1sC01gCzOAlgdmqUBpYVoARt9jZZAWanRmlgWQFK0GZvkxVgdmqUBvYHHXJUQSJe9W8AAAAASUVORK5CYII=');
  width: 24px;
  height: 24px;
  background-size: contain;
  vertical-align: middle;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

*.grey3 {
  color: $go1grey3 !important;
}

*.grey4 {
  color: $go1grey4 !important;
}

*.grey5 {
  color: $go1grey5 !important;
}

*.grey6 {
  color: $go1grey6 !important;
}

.btn {
  padding: 15px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
}

.form-actions {
  padding: 10px 0;
}
//
//.dialog-success {
//  background: $alert-success-bg;
//  color: $alert-success-text;
//  border-color: $alert-success-border;
//}
//
//.dialog-warning {
//  background: $alert-warning-bg;
//  color: $alert-warning-text;
//  border-color: $alert-warning-border;
//}
//
//.dialog-danger {
//  background: $alert-danger-bg;
//  color: $alert-danger-text;
//  border-color: $alert-danger-border;
//}
//
//.dialog-info {
//  background: $alert-info-bg;
//  color: $alert-info-text;
//  border-color: $alert-info-border;
//}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value, lighten($value, 1.75%));
  }
}

.p-r-0 {
  padding-right: 0;
}

.p-l-0 {
  padding-left: 0;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.form-control {
  min-height: 42px;
  line-height: 1;
  padding: 9px 15px;
}

.text-center {
  text-align: center;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: $go1black;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}

.no-content {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 90%;
  position: absolute;
  text-align: center;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop.fade.in {
  opacity: 0.6;
}

.modal-content {
  border-radius: 3px;
  margin-top: 50%;
}
