@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');
@import "../../node_modules/bootstrap/scss/variables";
@import "variables";

*, input, textarea, select, label {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  color: $go1black;
}

.text-align-right {
  text-align: right;
}

.dialog-success {
  background: $alert-success-bg;
  color: $alert-success-text;
  border-color: $alert-success-border;
}

.dialog-warning {
  background: $alert-warning-bg;
  color: $alert-warning-text;
  border-color: $alert-warning-border;
}

.dialog-danger {
  background: $alert-danger-bg;
  color: $alert-danger-text;
  border-color: $alert-danger-border;
}

.dialog-info {
  background: $alert-info-bg;
  color: $alert-info-text;
  border-color: $alert-info-border;
}

.p-r-0 {
  padding-right: 0;
}

.text-center {
  text-align: center;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: $go1black;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -25%;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -25%;
}
