@import "variables";

.discussions-list-page {
  height: $chrome-ext-max-height;
  background: $chrome-ext-background;

  .no-content {
    h4 {
      font-size: 16px;
      font-weight: bold;
      margin-top: .5rem;
    }
    h6 {
      font-size: 14px;
      line-height: 1.3;
      font-weight: normal;
    }
  }

  .discussions-list {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .actions {
    portal-selection {
      select.form-control {
        height: 52px !important;
      }
    }
  }

  .actions-area {
    margin: 0;
    padding: 10px 0;
    bottom: 0;
    position: fixed;
    width: 100%;

    > * {
      padding-left: 7px;
      padding-right: 7px;
    }

    > :first-child {
      padding-left: 3px;
      padding-right: 7px;
    }

    > :last-child {
      padding-right: 3px;
    }

    button.btn {
      padding: 5px;
      font-size: 12px;
      font-weight: bold;
      min-height: 42px;
      border: 1px solid $go1black;
      color: $go1black;
      background: #fff;

      .fa {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}
