@import "variables";

.link-preview-frame {
  border: 1px solid $go1grey3;
  padding: 10px;
  max-height: 140px;

  .link-preview-img {
    width: 100%;
  }

  .close-btn {
    position: absolute;
    right: 10px;
    top: 0px;
    border: none;
    background: none;
    color: $go1grey5;
    box-shadow: none;

    &:hover {
      color: $go1grey7;
    }
  }

  .description {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 53px;
  }
}
