@import "variables";

.link-preview-frame {
  border: 1px solid $go1grey3;
  padding: 15px;
  max-height: 140px;
  background: #fff;

  .site-info-container {
    vertical-align: middle;

    .favicon {
      width: 20px;
      height: 20px;
      display: inline-block;

      + .site-domain {
        display: inline-block;
        margin-left: 10px;
        font-weight: lighter;
        letter-spacing: -1px;
      }
    }
  }

  .site-detail-container{
    margin-top: 10px;
  }

  .link-preview-img {
    width: 100%;
  }

  .close-btn {
    position: absolute;
    right: 10px;
    top: 0px;
    border: none;
    background: none;
    color: $go1grey5;
    box-shadow: none;

    &:hover {
      color: $go1grey7;
    }
  }

  .description {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 53px;
  }
}
