@import "variables";

.new-discussion-page {
  font-size: 16px;

  .close-popup {
    display: none;
  }

  .actions-area {
    margin-top: 15px;
  }

  .related-to {
    background: $chrome-ext-background;
    padding: 0px 20px;
    .related-to-title {
      margin-bottom: 10px;
      font-weight: lighter;
    }
  }

  .note-detail-section {
    background: #fff;
  }

  .sub-header {
    margin-left: -10px;
    margin-right: -10px;
    border: 1px solid $go1grey4;
    border-left: 0;
    border-right: 0;

    > .form-control {
      border: none;
      padding: 15px 10px;
      height: auto;
    }
  }

  .quotation {
    margin: 16px 10px;
  }

  .link-preview {
    margin: 10px 0;
  }

  blockquote {
    padding: 15px 10px;
    background-color: #FFF8DC;
    border-left: 2px solid #ffeb8e;
    //max-height: 80px;
    color: $go1grey5;
    font-style: italic;
    &:before {
      content: "\“";
      top: -10px;
      font-size: 60px;
      font-weight: bold;
      position: absolute;
      color: #ffeb8e;
      font-style: normal;
    }

    a[readMore] {
      cursor: pointer;
      font-style: italic;
      color: $go1brandColor;
      margin-top: -24px;
      position: absolute;
      right: 20px;
    }
  }

  > .description {
    margin: 0 10px;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid $go1grey4;
    border-top: 1px solid $go1grey4;

    > .form-control {
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 15px 10px;
      min-height: 150px;
    }
  }

  .text-editor-container {
    position: relative;

    .text-editor {
      min-height: 105px;
      max-height: 150px;
    }

    .upload-controller {
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }

  .actions-area {
    padding: 15px 15px 25px;
    flex-wrap: wrap;

    button {
      loading-indicator {
        .loading-fading-circle {
          width: 24px;
          height: 24px;
          margin: 0 0 0 15px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    select.form-control {
      min-height: initial;
      height: 32px;
      padding: 0;
    }
  }
}
