$go1gray: #b9c8cf;
$green: #51c133;
$go1brandColor: #31b8da;
$go1black: #121f22;
$go1bodyBackground: #f4f4f4;

$go1grey1: #f1f6f9;
$go1grey2: #e3eef3;
$go1grey3: #cddbe2;
$go1grey4: #b9c8cf;
$go1grey5: #8c9fa4;
$go1grey6: #6c7b7f;
$go1grey7: #35464b;

$brand-primary: $go1brandColor;
$font-size-base: 16px;
$btn-primary-bg: $go1brandColor;
$btn-primary-border: $go1brandColor;


$brand-success:             $green !default;

$input-padding-x: 15px;
$input-padding-y: 8px;

$fa-font-path: "../assets/fontawesome";
$btn-border-radius: 4px;
$btn-border-radius-sm: 2px;
$btn-border-radius-lg: 8px;

$chrome-ext-max-height: 600px
