.add-to-portal-success.animated
  go-header(title="Add To Portal")

  header(*ngIf="!sharedToUser")
    .success-icon
    h4 This page has been added!
    h5.sub-header This page has been successfully added to {{ currentPortal?.title }} as new Learning Item

  header(*ngIf="sharedToUser")
    .success-icon
    h4 This page has been shared to #[strong {{ sharedToUser.name }}!]
    h5.sub-header This page has been successfully added to {{ currentPortal?.title }} as new Learning Item and assigned to #[a(href='mailto:{{sharedToUser.mail}}') {{ sharedToUser.name }} ]


  .actions-area.row-flex(*ngIf="!sharedToUser")
    .col-6
      button.btn.btn-primary.btn-block((click)="shareButtonClicked()") Assign

    .col-6
      button.btn.btn-primary.btn-block((click)="viewPageOnPortal()") View on Portal

  .actions-area.row-flex.m-t-10
      button.btn.btn-link.ml-auto.mr-auto((click)="goBack()") Back to Discussion List
