<div class="new-discussion-page">
  <header class="row">
    <div class="col">
      <a (click)="goBack()" class="btn btn-no-border btn-no-padding" role="button">
        <i class="fa fa-arrow-left"></i>
      </a>
    </div>
    <div class="col-8">
      <h5>START DISCUSSION</h5>
    </div>
    <div class="col"></div>
  </header>

  <div class="sub-header">
    <div class="form-group row">
      <input [(ngModel)]="data.discussionTopic" placeholder="Discussion topic" class="form-control"/>
    </div>
  </div>

  <div class="link-preview" >
    <label>Related to:</label>
    <div class="link-review-component"></div>
  </div>
  <div class="description">
    <textarea class="form-control" placeholder="Says something about this page" rows="5">

    </textarea>
  </div>
  <div class="actions-area">
    <div class="row">
      <div class="col-7"></div>
      <div class="col">
        <button class="btn btn-primary" (click)="addNote()">Add Note</button>
      </div>
    </div>
  </div>
</div>
