.new-discussion-page.animated
  go-header([title]="'Add a Note'")

  .related-to
    div.close-popup.pull-right
      button.close-popup-btn &times;

    div.grey5.related-to-title Related to:


    .link-preview-frame
      .is-loading([hidden]="!isLoading")
        .col Loading Preview...
      .loading-completed([hidden]="isLoading")
        .site-info-container
          img.favicon([src]="linkPreview?.favicon")
          .site-domain.grey5 {{ linkPreview?.hostname }}
        .site-detail-container
          h5
            | {{ linkPreview && linkPreview.title | ellipsis:60 }}

  .description
    .quotation(*ngIf="data.quote")
      blockquote {{ data.quote | ellipsis:88 }}

    .text-editor(rich-text-editor [(ngModel)]="data.body" placeholder="Add your notes...", autofocus, [(mentionedUsers)]="mentionedUsers")

  .actions-area
    .row
      .col-7
        portal-selection([(portal)]="data.portalId")
    .row.m-t-10
      .col-7
        .select-privacy
          span Who can see this note?
          select.form-control([(ngModel)]="privacySetting", (ngModelChange)="onPrivacyChange()", placeholder="Who can see this note?")
            option(value="PUBLIC") Everyone
            option(value="MENTIONED") Share with people I mentioned
            option(value="ONLYME") Only me
    .row.m-t-10
      .col-12
        button.btn.btn-primary.add-note-btn((click)="addNote()") Add Note
