.add-to-portal.animated
  go-header([title]="'Share Item'")

  .related-to 
    .label Related to
    .link-preview-frame.m-t-5
      .is-loading([hidden]="!isLoading")
        .col Loading Preview...
      .loading-completed([hidden]="isLoading")
        .site-info-container
          img.favicon([src]="linkPreview?.favicon")
          .site-domain.grey5 {{ linkPreview?.hostname }}
        .site-detail-container
          label
            | {{ linkPreview && linkPreview.title }}

  .note-detail-section
    .form-group.m-t-20

      typeahead([(ngModel)]="shareToUser", [typeAheadSetup]="typeAheadSetup")

    .form-group
      .input-group
        input.form-control([(ngModel)]="scheduleDate", (ngModelChange)="onDateChanged()", placeholder="mm/dd/yyyy", ngbDatepicker, #d="ngbDatepicker")
        button.input-group-addon((click)="d.toggle()")
          i.fa.fa-calendar

    .actions-area
      .row
        .col-6
          button.btn.btn-primary.btn-block#shareBtn((click)="shareBtnClicked()").
            Assign

        .col-6
          button.btn.btn-default.btn-block#cancelBtn((click)="cancelBtnClicked()").
            Cancel
