.fab-container
  a.fab-button.start-discussion-btn(role="button").
    #[div.icon] Start a discussion
  a.fab-button.add-to-portal-btn(role="button").
    #[div.icon] Add to Portal
  a.fab-button.plus-icon.trigger-fab(role="button")
