.fab-container
  a.fab-button.start-discussion-btn(role="button").
    #[i.fa.fa-comment ] Start a discussion
  //a.fab-button.add-to-portal-btn(role="button").
  //  #[i.fa.fa-sign-in] Add to Portal
  a.fab-button.plus-icon.trigger-fab(role="button")
