

.nav-header {
  width: 100%;
  height: 60px;
  background-color: #46c6f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

a.active .activeLink {
  display: block;
}

a.active .inactiveLink {
  display: none;
}

a:not(.active) .inactiveLink {
  display: block;
}

a:not(.active) .activeLink {
  display: none;
}
