.nav-header
  ul.nav.full-width
    li.col-2.text-center
      a([routerLink]="'/discussionsList/'" routerLinkActive="active")
        i.fa.fa-comments
    li.col-8.text-center.title {{ title }}
    li.col-2.text-center
      a([routerLink]="'/setting'" routerLinkActive="active")
        i.fa.fa-cog
