.add-to-portal-success.animated
  header
    button.btn.btn-clean.close-btn((click)="goBack()") &times;
    .success-icon
    h6 Page has been successfully added to your portal as a New Learning Item

  //.add-to-courses
  //  h6 Do you want to add it to a course?
  //
  //  .courses-list
  //    //.course-item(*ngFor="let course of courses")
  //    //  .checkbox
  //    //    label.
  //    //      #[input(type="checkbox", [checked]="checkSelection(course)", (click)="toggleSelection(course)", [value]="course.id") ]
  //    //      {{ course.name }}

  footer
    button.btn.btn-primary.close-btn((click)="goBack()") Done
