.add-to-portal-success.animated
  go-header(title="Add To Portal Success")
  header
    .success-icon
    h4 This page has been added!
    h5.sub-header This page has been successfully added to {{ currentPortal?.title }} as new Learning Item


  .actions-area
    button.btn.btn-primary((click)="viewPageOnPortal()") View on your Portal

  //.add-to-courses
  //  h6 Do you want to add it to a course?
  //
  //  .courses-list
  //    //.course-item(*ngFor="let course of courses")
  //    //  .checkbox
  //    //    label.
  //    //      #[input(type="checkbox", [checked]="checkSelection(course)", (click)="toggleSelection(course)", [value]="course.id") ]
  //    //      {{ course.name }}
