.add-to-portal.animated
  header.extension-header.row
    .col-2
      a.btn.btn-no-border.btn-no-padding.go-back-btn.close-btn((click)="goBack()" role="button")
        i.icon.icon-left-arrow
    .col-8.text-center
      h5 Add To Portal
    .col-2

  .add-tags
    h6 Add Tags

    input.form-control([(ngModel)]="data.tags", placeholder="Add tags")

  .actions-area
    .col-8.offset-2
      button.btn.btn-primary.btn-block.rounded-btn#markAsComplete((click)="markAsComplete()") Mark as Complete

      button.btn.btn-primary.btn-block.rounded-btn#saveForLater((click)="saveForLater()") Save for Later
