.new-discussion-page.animated
  header.row
    .col-2
      a.btn.btn-no-border.btn-no-padding.go-back-btn((click)="goBack()" role="button")
        i.icon.icon-left-arrow
    .col-8.text-center
      h5 START DISCUSSION
    .col-2
  .sub-header
      input.form-control([(ngModel)]="data.title" name="noteTitle" placeholder="Discussion Topic")
  .quotation(*ngIf="data.quote")
      blockquote {{ data.quote }}
  .link-preview
    label Related to:
    .link-preview-component(*ngIf="!!data.item")
      go1-link-preview(*ngIf="!!data.item", [linkUrl]="data.item")
  .description
    textarea.form-control([(ngModel)]="data.body" name="noteBody" placeholder="Say something about this page" rows=10)

  .actions-area
      .col-7
      .col-5.text-align-right.p-r-0
        button.btn.btn-primary.add-note-btn((click)="addNote()") Add Note
