.new-discussion-page.animated
  go-header([title]="'Add a Note'")

  .related-to
    div.close-popup.pull-right
      button.close-popup-btn &times;

    div.grey5.related-to-title Related to:


    .link-preview-frame
      .is-loading([hidden]="!isLoading")
        .col Loading Preview...
      .loading-completed([hidden]="isLoading")
        .site-info-container
          img.favicon([src]="linkPreview?.favicon")
          .site-domain.grey5 {{ linkPreview?.hostname }}
        .site-detail-container
          h5
            | {{ linkPreview && linkPreview.title }}

  .description
    .quotation(*ngIf="data.quote")
      blockquote {{ data.quote }}

    textarea.form-control(ckeditor [(ngModel)]="data.body" name="noteBody" placeholder="Add your notes..." rows=10)

  .actions-area
      .col-7.p-l-0
        portal-selection([(portal)]="data.entityId")
      .col-5.text-align-right.p-r-0
        button.btn.btn-primary.add-note-btn((click)="addNote()") Add Note
