.new-discussion-page
  header.row
    .col-2
      a.btn.btn-no-border.btn-no-padding.go-back-btn((click)="goBack()" role="button")
        i.icon.icon-left-arrow
    .col-8.text-center
      h5 START DISCUSSION
    .col-2
  .sub-header
      input.form-control([(ngModel)]="data.title" placeholder="Discussion Topic")
  .link-preview
    label Related to:
    .link-preview-component(*ngIf="!!data.item")
      go1-link-preview(*ngIf="!!data.item", [linkUrl]="data.item")
  .description
    textarea.form-control([(ngModel)]="data.body" placeholder="Say something about this page" rows=10)

  .actions-area
    .row
      .col-7
      .col.text-align-right
        button.btn.btn-primary((click)="addNote()") Add Note
