.discussions-list-page {
  background: #eef4f9;
  height: 100%;
}

.discussions-list-page .no-content {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 90%;
  position: absolute;
  text-align: center;
}

.discussions-list-page .no-content h4 {
  font-size: 16px;
  font-weight: bold;
}

.discussions-list-page .rounded-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 48px;
  height: 48px;
  background: #46c6f5;
  border: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.discussions-list-page .no-content h6 {
  font-size: 14px;
}
