<div class="discussions-list-page">
  <go-header></go-header>
  <div [hidden]="discussionsList.length" class="no-content">
    <img src="assets/notes.png"/>
    <h4>There's No Notes on this Page</h4>
    <h6>
      Be the first one to add a note <br/>
      on this page by clicking on the below button<br/>
      or drag to choose a favourite quote on the page
    </h6>
  </div>

  <div class="action-area" [hidden]="discussionsList.length">
    <button class="rounded-button" (click)="addDiscussion()">+</button>
  </div>

  <div class="discussions-list" [hidden]="!discussionsList.length">
    <discussion-item *ngFor="let discussionItem of discussionsList" [discussionItem]="discussionItem"></discussion-item>
  </div>

  <div [hidden]="!discussionsList.length" class="actions-area row">
    <div class="col-6">
      <button class="btn btn-block" (click)="addDiscussion()">
        <img src="assets/chat_black.png"/> Start Discussion
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-block" (click)="addToPortal()">
        <img src="assets/add_portal.png"/> Add to Portal
      </button>
    </div>
  </div>
</div>
