.discussions-list-page
  go-header([title]="'Notes'")
  .no-content([hidden]="!loading")
    loading-indicator

  .no-content([hidden]="loading || notesToShow().length")
    img(src="assets/Note-empty.png")
    h4 There's No Notes on this Page

    h6(*ngIf="portal").
      Add this page to #[strong {{ portal?.title }} ] to start a new discussion.

    .actions-group
      .actions.m-t-40(*ngIf="canAddToPortal()")
        button.btn.btn-block.btn-primary((click)="addToPortal()") #[i.fa.fa-sign-in] Add this page

      .actions.m-t-20
        button.btn.btn-block.btn-primary((click)="addDiscussion()") #[i.fa.fa-comment ] Add Note

      .actions.m-t-20
        portal-selection(placeholder="Change Portal", [(portal)]="changePortalId", (portalChange)="onPortalChanged(changePortalId)")

  .discussions-list([hidden]="loading || !notesToShow().length")
    app-discussion-item(*ngFor="let discussionItem of notesToShow()", [discussionItem]="discussionItem")


  .actions-area.row([hidden]="loading || !notesToShow().length")
    .col-6
      button.btn.btn-block.btn-primary((click)="addDiscussion()")
        | #[i.fa.fa-comment ] Add Note

    .col-6(*ngIf="canAddToPortal()")
      button.btn.btn-block.btn-primary((click)="addToPortal()")
        | #[i.fa.fa-sign-in] Add this page
    //
    //.col-4
    //  button.btn.btn-block((click)="share()")
    //    | #[i.fa.fa-share ] Share
