.discussions-list-page
  go-header([title]="'Add a Note'")
  .no-content([hidden]="!loading")
    loading-indicator

  .no-content([hidden]="loading || discussionsList.length")
    img(src="assets/notes.png")
    h4 There's No Notes on this Page

    h6.
      Be the first one to add a note
      #[br ]
      on this page by clicking on the below button
      #[br ]
      or drag to choose a favourite quote on the page

  .discussions-list([hidden]="!discussionsList.length")
    discussion-item(*ngFor="let discussionItem of discussionsList", [discussionItem]="discussionItem")

  .actions-area.row
    .col-6
      button.btn.btn-block((click)="addDiscussion()")
        | #[i.fa.fa-comment ] Add Note

    .col-6
      button.btn.btn-block((click)="addToPortal()")
        | #[i.fa.fa-sign-in] Save this page
    //
    //.col-4
    //  button.btn.btn-block((click)="share()")
    //    | #[i.fa.fa-share ] Share
