.link-preview-frame
  .row.is-loading([hidden]="!isLoading")
    .col Loading Preview...
  .row.loading-completed([hidden]="isLoading")
    .col-3
      img.link-preview-img([src]="linkPreview.image", *ngIf="linkPreview.image")
      img.link-preview-img(src="assets/no-image-icon-15.png", *ngIf="!linkPreview.image")
    .col-9
      h5
        | {{linkPreview.title}}
        button.close-btn((click)="closePreview()") &times;
      div.description {{ linkPreview.description }}

