<div class="setting-page">
    <go-header activePage="settings"></go-header>
    <div class="photo-area">
        <img src="../assets/avatar.png" class="avator">
        <p class="name">{{  user.first_name}}</p>
    </div>
    <div class="actions-area">
        <div class="action-area">
            <span class="action-name">Notification</span>
            <div class="switch">
                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                <label for="cmn-toggle-1" class="label-switch"></label>
            </div>
        </div>
        <div class="action-area">
            <span class="action-name">Allow quick button</span>
            <div class="switch">
                <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
                <label for="cmn-toggle-2" class="label-switch"></label>
            </div>
        </div>
        <div class="action-area">
            <span class="action-name"><a class="signout" (click)="signout()">Sign Out</a></span>
        </div>
    </div>
</div>
