<div [hidden]="!loading">Loading...</div>
<form (submit)="login()" [hidden]="loading">
  <div class="imgcontainer">
      <img src="../assets/logo_big.png" id="logo">
      <img src="../assets/signin_text.png" id="signin-text">
  </div>

  <div class="container">
      <input type="email" id="email" name="email" [(ngModel)]="user.username" placeholder="E-mail" class="form-control" />
      <input type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Password" class="form-control" />
      <button type="submit" id="login-btn" >Log In</button>
      <img src="../assets/login_or.png" class="or" id="login-or">
      <button type="button" class="register-btn" id="register-btn" (click)="register()">Register</button>
      <div class="link-text" id="forgot"><a href="/">Forgot password?</a></div>
  </div>
</form>



