.no-content([hidden]="!loading")
  loading-indicator

form((submit)="requestNewPassword()", [hidden]="loading")
  .back-to-login
    a.btn.btn-no-border.btn-no-padding.go-back-btn([routerLink]="['/membership/login']" role="button") ← Return to login

  .imgcontainer
    image-svg#logo(src="../assets/go1-logo.svg")

  .container
    h4.text-align-left Forgot Password?
    h5.sub-header.text-align-left.grey6 Enter your email address below and we will send you instructions on how to change your password.

    .group.m-t-15
      label Your Email
      input#email.form-control(type="email", name="email", [(ngModel)]="username")

    .group.m-t-15
      button.btn.btn-primary.btn-block#login-btn([disabled]="!canRequestNewPassword() || requestingNewPassword", (click)="requestNewPassword()").
        Request new password
        #[loading-indicator(colorScheme="white", [hidden]="!requestingNewPassword") ]
