.discussion-item(*ngIf="discussionItem")
  user-profile(*ngIf="discussionItem?.user_id", [userId]="discussionItem?.user_id" externalText="{{ discussionItem?.created | amTimeAgo }}")
  .discussion-content
    .discussion-detail((click)="jumpToQuotedText()", [class.has-quotation]="discussionItem?.quote")
      //div.quotation(*ngIf="discussionItem?.quote", role="button", (click)="jumpToQuotedText()")
      //  blockquote([innerHtml]="getEllipsisQuoteText()", [attr.title]="discussionItem?.quote")
      div.message([innerHtml]="discussionItem?.message")
      div.actions
        button.no-border((click)="toggleDiscussion()")
          i.fa.fa-comments
          span(*ngIf="discussionItem.messages.length") {{ discussionItem.messages.length }} discussion{{ discussionItem.messages.length > 1 ? 's' : '' }}
          span(*ngIf="!discussionItem.messages.length") Share your thoughts
        //button.no-border()
        //  i.fa.fa-thumbs-up
        //  | Like this

        .menu(ngbDropdown)
          button.more-btn.no-border(ngbDropdownToggle)
            i.fa.fa-ellipsis-h
          .dropdown-menu
            button.dropdown-item((click)="deleteItem()") #[i.fa.fa-trash.m-r-10] Delete

    .discussion-thread.animated.fast([class.fadeInDown]="discussionStarted", [class.fadeOutUp]="!discussionStarted", [hidden]="!discussionStarted")
      textarea.form-control([(ngModel)]="replyMessage" name="noteBody", autofocus, placeholder="What's your thinking..." rows="4", [disabled]="postingReply")
      .form-actions.pull-left
        button.btn.btn-sm.btn-primary((click)="addReply()") Post
      .clearfix

      .replies([hidden]="!discussionStarted")
        discussion-reply(*ngFor="let message of discussionItem.messages", [reply]="message")
