.discussion-item.row
  .col-3
    .avatar-container
      img(src="assets/avatar.png" alt="")


  .col.description
    h5(*ngIf="discussionItem.name", [innerHtml]="discussionItem.name")
    h5(*ngIf="!discussionItem.name", [innerHtml]="discussionItem.message")
    .menu(ngbDropdown)
      button.more-btn(ngbDropdownToggle)
        img(src="assets/icon_more.png")
      .dropdown-menu
        button.dropdown-item((click)="deleteItem()") #[i.fa.fa-trash.m-r-10] Delete
        // button.dropdown-item #[i.fa.fa-share.m-r-10] Share
    .created
      small {{ discussionItem.created | amTimeAgo }}
