.setting-page
  go-header([title]="'GO1 Extension Options'")

  .action-area
    .form-group
      label Ignore the Following Domains #[a.btn.btn-link((click)="addDomain()") #[i.fa.fa-plus] Add Domain]

      .row.m-t-10(*ngFor="let item of ignoredDomains")
        .col-11
          input.form-control([(ngModel)]="item.domain", placeholder="www.google.com", [autofocus], (keyup)="domainInputKeyUp($event)" )
        .col-1
          button.btn.btn-sm.btn-block.btn-danger((click)="removeDomain(item)") Remove

  .action-area
    .form-group
      fieldset
        a.btn.btn-primary.btn-sm((click)="save()" tabindex="1") Save

  .copyright.text-center.
    GO1 Extension v{{ versionInfo }}. Copyright &copy; {{ currentYear }} GO1 Pty.
